<script type="text/javascript" src="/lib/compass.js"></script>
<nav>
    <div class = "nav-item" id = "top">
        <a href= <%= top %> >
            <img src="/images/<%= top %>.png"><span class = "hover"><%= top %> </span>
        </a>
    </div>
    <div class = "nav-item" id ="left">
        <a href=<%= left %>>
            <img src="/images/<%- left %>.png"><span class = "hover"><%= left %></span>
        </a>
    </div>
    <div class = "nav-item" id ="bottom">
        <a href=<%= bottom %>><img src="/images/<%= bottom %>.png"><span class = "hover"><%= bottom %></span></a>
    </div>
    <div class = "nav-item" id ="right">
        <a href=<%= right %>>
            <img src="/images/<%= right %>.png"><span class = "hover"><%= right %></span>
        </a>
    </div>
    <div class = "nav-item current" id ="center">
        <a href="/">
            <img src="/images/<%= center %>.png"><span class = "hover"><%= center %></span>
        </a>
    </div>
    <div class="center"></div>
</nav>